* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    color: #333;
    text-align: center;
}

#saldo {
    font-size: 20px;
    margin-bottom: 20px;
    text-align: center;
}

input, button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #005a34;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #003d24;
}

#feedback {
    margin-top: 20px;
    text-align: center;
    color: #005a34;
}

input[type="text"], input[type="number"] {
    display: block;
}
